<section class="item">
    <div class="border-bottom mx-auto " style="width: 40%;">
        <h1 class="text-center text-warning">liste des utilisateurs</h1>
    </div>
    <div class="container">
        <div class="row">
            <!-- GET -->
            <div class="col-md-12 col-sm-12">
                <ul class="list-group ">
                    {{#each dbuser }}
                    <li class="list-item border border-warning rounded m-2 p-3">
                        <div class="row">
                            <div class="col-md-3 col-sm-3  column">
                                <h3>{{name}}</h3>
                            </div>
                            <div class="col-md-7 pt-4 col-sm-7">
                                <p>{{email}} </p>
                                <p>date d'inscription : {{moment createDate format="DD-MM-YY"}} </p>
                                <p> Utilisateur vérifié : {{isVerified}} </p>
                                <p> Modérateur : {{isModo}} </p>
                                <p> Admin : {{isAdmin}} </p>
                                <p> Bannis : {{isBan}} </p>
                            </div>
                            <div class="col-md-2 pt-4 col-sm-2">
                                <button class="btn btn-wandw" data-toggle="modal"
                                    data-target="#modalEditerUser{{ _id }}" type="submit">Modifier</button>
                            </div>
                        </div>
                    </li>
                    {{!-- Modal Editer user --}}
                    <div class="container mt-3">
                        <div class="row text-center">
                            <div class="modal fade" id="modalEditerUser{{ _id }}" tabindex="-1" role="dialog"
                                aria-labelledby="modalEditerLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> name : {{ name }} </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/listUser/{{ _id }}/?_method=PUT" method="POST">
                                            <input type="text" class="form-control" name="name"
                                        contenteditable="true" value="{{ this.name }}">
                                                {{!-- <div class="row">
                                                    <div class="col-md-3">
                                                        <p>Utilisateur Verifié : </p>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="" value="" {{#if this.isVerified }}checked{{/if}}>
                                                            <label class="form-check-label"
                                                                for="inlineRadio1">oui</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="" value="" {{#unless this.isVerified }}checked{{/unless}}>
                                                            <label class="form-check-label"
                                                                for="inlineRadio2">non</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>Modérateur : </p>
                                                        <div class="form-check form-check-inline">

                                                            <input class="form-check-input" type="radio"
                                                                name="" {{#if this.isModo }}checked{{/if}}>
                                                            <label class="form-check-label"
                                                                for="inlineRadio1">oui</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="" {{#if this.isModo }} {{else}}checked{{/if}}>
                                                            <label class="form-check-label"
                                                                for="inlineRadio2">non</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>Administrateur : </p>
                                                        <div class="form-check form-check-inline">

                                                            <input class="form-check-input" type="radio"
                                                                name="" value="true"{{#if this.isAdmin }}checked{{/if}}>
                                                            <label class="form-check-label"
                                                                for="inlineRadio1">oui</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="" value="false"{{#if this.isAdmin }}{{else}}checked{{/if}}>
                                                            <label class="form-check-label"
                                                                for="inlineRadio2">non</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <p>Banni : </p>
                                                        <div class="form-check form-check-inline">

                                                            <input class="form-check-input" type="radio"
                                                                name="" value="true"{{#if this.isBan }}checked{{/if}}>
                                                            <label class="form-check-label"
                                                                for="inlineRadio1">oui</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="" value="false"{{#if this.isBan }}{{else}}checked{{/if}}>
                                                            <label class="form-check-label"
                                                                for="inlineRadio2">non</label>
                                                        </div>
                                                    </div>
                                                </div> --}}

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-wandw"
                                                        data-dismiss="modal">Fermer</button>
                                                    <button type="submit" class="btn btn-wandw">Confirmer la
                                                        modification</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each }}
                </ul>
            </div>
        </div>
    </div>
</section>





<style>
    li {
        list-style: none;
    }
</style>