<section class="item">
    <div class="border-bottom mx-auto " style="width: 40%;">
        <h1 class="text-center text-warning">Liste des utilisateurs</h1>
    </div>
    <div class="container">
        <div class="row">
            <!-- GET -->
            <div class="col-md-12 col-sm-12">
                <ul class="list-group ">
                    {{#each dbuser }}
                    <li class="list-item border border-warning rounded m-2 p-3">
                        <div class="row">
                            <div class="col-md-3 col-sm-3  column">
                                <h3>{{name}}</h3>
                            </div>
                            <div class="col-md-7 pt-4 col-sm-7">
                                <p>{{email}} </p>
                                <p>date d'inscription : {{moment createDate format="DD-MM-YY"}} </p>
                                <p> Utilisateur vérifié : {{isVerified}} </p>
                                <p> Modérateur : {{isModo}} </p>
                                <p>Admin : {{isAdmin}} </p>
                                <p> Bannis : {{isBan}} </p>
                            </div>
                            {{!-- bouton editer --}}
                            <div class="col-md-2 pt-4 col-sm-2">
                                <button class="btn btn-wandw m-1" data-toggle="modal"
                                    data-target="#modalEditerUser{{ _id }}" type="submit">Modifier</button>
                                {{!-- bouton suppression --}}
                                <button class="btn btn-wandw m-1" data-toggle="modal" type="submit"
                                    data-target="#modalConfirmSuppUser{{_id}}">Supprimer</button>
                            </div>
                    </li>
                    {{!-- Modal Editer user --}}
                    <div class="container mt-3">
                        <div class="row text-center">
                            <div class="modal fade" id="modalEditerUser{{ _id }}" tabindex="-1" role="dialog"
                                aria-labelledby="modalEditerLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> name : {{ name }} </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/listUser/{{ _id }}/?_method=PUT" method="POST">
                                                <input type="text" class="form-control" name="name"
                                                    contenteditable="true" value="{{ this.name }}">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Sujet</label>
                                                            <select class="form-control" name="status" required>
                                                                <option></option>
                                                                <option value="isAdmin">Administrateur</option>
                                                                <option value="isModo">Moderateur</option>
                                                                <option value="isVerified">Verifié</option>
                                                                <option value="isBan">Banni</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-wandw"
                                                        data-dismiss="modal">Fermer</button>
                                                    <button type="submit" class="btn btn-wandw">Confirmer la
                                                        modification</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Modal Supprimer user --}}
                    <div class="modal fade" id="modalConfirmSuppUser{{_id}}" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Confirmez-vous la suppression de {{ name}} ?</p>
                                </div>
                                <div class="modal-footer">
                                    <form action="/listUser/{{ _id }}/?_method=delete" method="POST">
                                        <button type="submit" class="btn btn-sign">Oui</button>
                                    </form>
                                    <button type="button" data-dismiss="modal" aria-label="Close"
                                        class="btn btn-sign">Non</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each }}
                </ul>
            </div>
        </div>
    </div>
</section>

</div>

<style>
    li {
        list-style: none;
    }
</style>