<section class="item">
    <div class="border-bottom mx-auto " style="width: 40%;">
        <h1 class="text-center text-warning">liste des utilisateurs</h1>
    </div>
    <div class="container">
        <div class="row">
            <!-- GET -->
            <div class="col-md-12 col-sm-12">
                <ul class="list-group ">
                    {{#each dbuser }}
                    <li class="list-item border border-warning rounded m-2 p-3">
                        <div class="row">
                            <div class="col-md-3 col-sm-3  column">
                                <h3>{{name}}</h3>
                            </div>
                            <div class="col-md-7 pt-4 col-sm-7">
                                <p>{{email}} </p>
                                <p>date d'inscription : {{moment createDate format="DD-MM-YY"}} </p>
                                <p> Utilisateur vérifié : {{isVerified}} </p>
                                <p> Modérateur : {{isModo}} </p>
                                <p> Admin : {{isAdmin}} </p>
                                <p> Bannis : {{isBan}} </p>
                            </div>
                            <div class="col-md-2 pt-4 col-sm-2">
                                <button class="btn btn-wandw" data-toggle="modal"
                                    data-target="#modalEditerUser{{ _id }}" type="submit">Modifier</button>
                            </div>
                        </div>
                    </li>
                    {{!-- Modal Editer Article --}}
                    <div class="container mt-3">
                        <div class="row text-center">
                            <div class="modal fade" id="modalEditerUser{{ _id }}" tabindex="-1" role="dialog"
                                aria-labelledby="modalEditerLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"> name : {{ this.name }} </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/signin/{{ _id }}/?_method=PUT" method="POST">
                                                <div>
                                                    <p>admin : </p>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="radio"
                                                            name="true" id={{isAdmin}} value="option1" >
                                                        <label class="form-check-label" for="exampleRadios1">
                                                            oui
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="radio" name="false"
                                                        id="false" value="option1" >
                                                    <label class="form-check-label" for="exampleRadios1">
                                                        non
                                                    </label>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-wandw"
                                                        data-dismiss="modal">Fermer</button>
                                                    <button type="submit" class="btn btn-wandw">Confirmer la
                                                        modification</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each }}
                </ul>
            </div>
        </div>
    </div>
</section>





<style>
    li {
        list-style: none;
    }
</style>