<section class="item">
    <div class="border-bottom mx-auto " style="width: 40%;">
        <h1 class="text-center jeux-color">Tous les jeux</h1>
    </div>


    <div class="container">
        <div class="row">
            <!-- GET -->

            <div class="col-md-12 col-sm-12">
                <ul class="list-group ">


                    {{#each dbJeuModel }}
                    <li class="list-item">
                        <div class="row">
                            <div class="col-md-2 col-sm-2  column">
                                <h3>{{title}}</h3>
                                <img src="https://picsum.photos/480/480" alt="" style="max-width: 100px;">
                            </div>
                            <div class="col-md-10 pt-4 col-sm-10">
                                <p>{{content}} </p>
                                <p>Auteur : {{author}} </p>
                                <p class="font-weight-bold">Prix : {{price}}€ </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <a  href="/jeuSingle/{{_id}}">En savoir plus..</a>
                            </div>
                        </div>
                    </li>
                    {{/each }}
                </ul>
            </div>
        </div>
    </div>
</section>

<style>
    li {
        list-style: none;
    }
</style>