{{!------------ titre ------------------}}
<div class="border-bottom mx-auto " style="width: 40%;">
    <h1 class="text-center jeux-color">Tous les jeux</h1>
</div>
{{!------------/titre ------------------}}

{{!------------liste de jeux ------------------}}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ul class="list-group ">
                {{#each dbJeuModel }}
                <li class="list-item border-bottom mt-5">
                    <div class="row">
                        <div class="col-md-2 col-sm-2  column">
                            <h3>{{title}}</h3>
                            <img src="https://picsum.photos/480/480" alt="photo de jeu" style="max-width: 100px;">
                        </div>
                        <div class="col-md-10  col-sm-10">
                            <div class="row">
                                <div class="col-md-12 text-justify">
                                    <p>{{content}} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Auteur : {{author}} </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="font-weight-bold">Prix : {{price}}€ </p>
                                </div>
                                <div class="col-md-6 text-right">
                                    <a href="/jeuSingle/{{_id}}">En savoir plus..</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each }}
            </ul>
        </div>
    </div>
</div>
{{!------------/liste de jeux ------------------}}
