<div class="border-bottom mx-auto" style="width: 40%;">
    <h1 class="text-center actu-color">{{ dbActu.title }}</h1>
</div>
<div class="container mt-3 ">
    <div class="row text-center">
        <img src="https://picsum.photos/480/480" class="img-fluid rounded mx-auto d-block" alt="Responsive image">
    </div>
    <div class="row ">
        <div class="col-md-12">
            <p class="mt-3 text-center">
                {{ dbActu.content }}
            </p>
        </div>
    </div>
    <div class="row ">
        <p class="mt-3">
            {{ dbActu.createDate }}
        </p>
    </div>

    <button class="btn btn-actu" data-toggle="modal" data-target="#modalCommenter" data-whatever="@getbootstrap"
        type="submit">Commenter</button>

    <button class="btn btn-actu" data-toggle="modal" type="submit"
        data-target="#modalConfirmSuppActu{{id}}">Supprimer</button>


    {{!-- modal confirmation suppression --}}
    <div class="modal fade" id="modalConfirmSuppActu{{id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Confirmez-vous la suppression de {{dbActu.title}} ?</p>
                </div>
                <div class="modal-footer">
                    <form action="/actuSingle/{{ dbActu.id }}/?_method=delete" method="post">
                        <button type="submit" class="btn btn-sign">Oui</button>
                    </form>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-sign">Non</button>
                </div>
            </div>
        </div>
    </div>


    {{!-- Modal Editer Article --}}
    {{> modals/modalEdit }}

    

    {{!-- Modal commenter --}}
    {{> modals/modalCommenter }}

    {{!-- Zone commentaire --}}
    {{> zoneCommentaire }}

</div>